<div class="ticket-container">
    <div disabled class="ticket-index">{{ ticketIndex + 1}}</div>
    <table>
        <thead class="ticket-head">
            <td [attr.colspan]="colSpanRandom">
                <i class="fa-solid fa-shuffle" style="color: #ff0000;"></i>
                <button class=ticket-random (click)='randomGenerate()'>RND</button>
            </td>
            <td [attr.colspan]="colSpanDelete" class="ticket-delete-header"> 
                <i class="fa-solid fa-trash" style="color: #ff0000;"></i>
                <button class=ticket-reset (click)='resetTicket()'>DEL</button>
            </td>
        </thead>

        <tr *ngFor="let row of selectableNumbers; let rowIndex = index">
            <td *ngFor="let col of row; let colIndex = index">
                <div class="cell ticket-element " (click)="selected(rowIndex, colIndex)">
                    {{ (rowIndex * 7) + colIndex + 1 }}
                    <span class="selected-marker" *ngIf="selectableNumbers[rowIndex][colIndex]">X</span>
                </div>
            </td>
        </tr>
    </table>
</div>